      <h2><%= @strip.name %></h2>
      <%= image_tag @strip.image.url(:medium) %>
      <%= image_tag @strip.image2.url(:medium) %>
      <%= image_tag @strip.image3.url(:medium) %><br>
      <%= @strip.caption1 %>
      <%= @strip.caption2 %>
      <%= @strip.caption3 %>
      <%= link_to "Edit Strip", edit_comic_strip_path(@comic, @strip) %>
    </article>
  <div class="col-2">
    <br />
  </div>
</div>
