    <h1>Comics!</h1>

    <div class = 'button'> <%= link_to "Add Comic", new_comic_path %> </div>

    <% if @comics.any? %>
      <% @comics.each do |comic| %>
        <div class="comic-preview" >
          <h3>Title: <%= link_to comic.title, comic_path(comic) %></h3><br>
          <% if @strips.any? %>
            <% strip = @strips.find_by(:comic_id => comic.id) %>
            <div class="comic-strip clearfix" >
              <div class="preview-cell">
                <div class="float-preview-image">
                  <%= image_tag strip.image.url(:thumb) %>
                </div>
                <div class="float-preview-caption">
                  <%= strip.caption1 %>
                </div>
              </div>
              <div class="preview-cell">
                <div class="float-preview-image">
                  <%= image_tag strip.image2.url(:thumb) %>
                </div>
                <div class="float-preview-caption">
                  <%= strip.caption2 %>
                </div>
              </div>
              <div class="preview-cell">
                <div class="float-preview-image">
                  <%= image_tag strip.image3.url(:thumb) %>
                </div>
                <div class="float-preview-caption">
                  <%= strip.caption3 %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <h2>No comics added.</h2>
    <% end %>
  </article>
  <div class="col-2">
    <br />
  </div>
</div>
