<h1><%= @comic.title %></h1><br>

<%= link_to "Add A Comment", new_comic_comment_path(@comic) %>


<% if @comments.any? %>
  <ul>
  <% @comments.each do |comment| %>
    <li id="#{comment.id}">
      <%= comment.text %>
      <%= link_to "Update Comment", edit_comic_comment_path(comment.comic, comment) %>
      <%= link_to "Delete", comic_comment_path(comment.comic, comment), method: :delete %>
    </li>
  <% end %>
  </ul>
<% else %>
Be the first to add a comment!
<% end %>
